header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
    background: rgba(255, 255, 255, 0.349);
    width: 100vw;
    left: 0;
    top: 0;
    height: 13vh;
    padding: 1vw;
    gap: 3vw;
}
header span {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}
header img {
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1/1;
}
header p {
    color: white;
    font-size: clamp(10px, 1.7vw, 70px);
}
header a {
    background: white;
    color: black;
    padding: 1vw;
    border-radius: 0.5vw;
    font-size: clamp(10px, 1vw, 70px);
    transition: .3s;
}
header a:hover {
    filter: brightness(0.8);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    height: 87vh;
    width: 100%;
    bottom: 0;
    left: 0;
}
main img {
    object-fit: contain;
    height: 80%;
    aspect-ratio: 1/1;
}