body {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 50px;
}
.spanFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 90%;
}
.spanFilter input {
    border: none;
    padding: 1.1vw 1.6vw;
    width: 100%;
    font-size: clamp(8px, 1.2vw, 70px);
    border-radius: 50rem;
}
.spanFilter i {
    position: absolute;
    
    pointer-events: none;
    background: white;
    font-size: clamp(8px, 1.4vw, 70px);
    right: 1.4vw;
    padding: 1vw;
}
.selecoesContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);

    gap: 40px;
    width: 100%;
}
.cardSelecoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    box-shadow: 0 0 35px black;
    background: rgb(41, 41, 41);
    border-radius: 2vw;
    padding: 40px;
    gap: 10px;
    transition: .3s;
}
.cardSelecoes:hover {
    background: rgb(63, 63, 63);
    scale: 1.02;
}
.cardSelecoes img {
    width: 6vw;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.cardSelecoes h1,
.cardSelecoes h2,
.cardSelecoes h3 {
    text-align: center;
    
    width: 100%;
}
.cardSelecoes h1 {
    font-size: clamp(16px, 1.8vw, 80px);
}
.cardSelecoes h2 {
    color: white;
    font-size: clamp(10px, 1.2vw, 65px);
}
.cardSelecoes h3 {
    color: rgb(216, 216, 216);
    font-size: clamp(6px, 1.1vw, 55px);
}
.containerBtns {
    display: flex;
    justify-content: center;
    
    width: 100%;
    gap: 20px;
}
.btnEditSelecao,
.btnVerDetalhesSelecao,
.btnDelSelecao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    font-size: clamp(8px, 0.9vw, 60px);
    padding: 0.8vw;
    border-radius: 0.4vw;
    transition: .3s;
    width: 50%;
}
.btnEditSelecao {
    color: black;
    background: rgb(255, 174, 0);
}
.btnDelSelecao {
    background: rgb(255, 68, 68);
}
.btnEditSelecao:hover,
.btnDelSelecao:hover,
.btnVerDetalhesSelecao:hover {
    filter: brightness(0.7);
}
.divJogadores {
    display: none;
}
.containerDetalhes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    overflow-y: auto;
    text-align: center;

    background: rgba(0, 0, 0, 0.411);
    backdrop-filter: blur(10px);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    gap: 20px;
    padding: 30px;
    z-index: 100;
}
.containerDetalhes img {
    object-fit: contain;
    width: 20vw;
    aspect-ratio: 1/1;
}
.containerDetalhes h1,
.containerDetalhes h2,
.containerDetalhes h3 {
    width: 100%;
}
.containerDetalhes h1 {
    font-size: clamp(10px, 4.5vw, 80px);
}
.containerDetalhes h2 {
    color: white;
    font-size: clamp(10px, 2vw, 80px);
}
.containerDetalhes h3 {
    color: rgb(197, 197, 197);
    font-size: clamp(10px, 2vw, 80px);
}
.boxInfos {
    display: flex;
    
    width: 100%;
}
.boxConquistas,
.boxJogadores {
    width: 100%;
    padding: 20px;
}
.boxJogadores {
    display: grid;
    align-content: start;
    justify-content: start;
    
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}
.boxJogadores div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background: white;
    box-shadow: 0 0 15px black;
    padding: 1.7vw;
    border-radius: 2vw;
}
.boxJogadores p {
    text-align: center;
    
    color: black;
}
.boxJogadores p:nth-child(1) {
    font-size: clamp(10px, 1.5vw, 80px);
}
.boxJogadores p:nth-child(2) {
    font-size: clamp(10px, 1.3vw, 80px);
    color: rgb(19, 19, 19);
}
.boxJogadores p:nth-child(3) {
    font-size: clamp(10px, 1.3vw, 80px);
    color: rgb(54, 54, 54);
}
.boxJogadores p:nth-child(4) {
    font-size: clamp(10px, 1.3vw, 80px);
    color: rgb(19, 19, 19);
}
.boxJogadores p:nth-child(5) {
    font-size: clamp(10px, 1.3vw, 80px);
    color: rgb(54, 54, 54);
}
.boxConquistas {
    display: grid;
    justify-content: start;
    align-content: start;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}
.semConquistas,
.semJogadores {
    color: white;
    font-size: clamp(10px, 3.3vw, 80px);
}
.boxConquistas div {
    background: white;
    box-shadow: 0 0 15px black;
    width: 100%;
    padding: 1.7vw;
    border-radius: 2vw;
}
.boxConquistas #trofeu {
    font-size: clamp(10px, 3vw, 80px);
}
.boxConquistas #pais {
    font-size: clamp(8px, 1.5vw, 60px);
}
.boxConquistas #ano {
    font-size: clamp(8px, 1.5vw, 60px);
}
.boxJogadores div:hover,
.boxConquistas div:hover {
    filter: brightness(0.9);
    transition: .2s;
    scale: 1.05;
}
.voltarDetalhes {
    position: fixed;

    cursor: pointer;
    color: white;
    font-size: clamp(18px, 3vw, 80px);
    top: 30px;
    left: 30px;
}
.voltarDetalhes:hover {
    filter: brightness(0.7);
}

@media (max-width: 900px) {
    .selecoesContainer {
        grid-template-columns: repeat(3, 1fr);
    }
    .cardSelecoes {
        padding: 30px;
    }
}
@media (max-width: 600px) {
    .selecoesContainer {
        grid-template-columns: repeat(2, 1fr);
    }
    .cardSelecoes {
        padding: 20px;
    }
    .boxJogadores {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .selecoesContainer {
        grid-template-columns: repeat(1, 1fr);
    }
    .cardSelecoes {
        padding: 10px;
    }
}