.veiculosList {
    display: grid;
    justify-content: start;
    align-content: start;

    gap: 1vw;
}

.veiculoCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border: 1px solid #d4d4d8;
    aspect-ratio: 1/1;
    gap: 10px;
    border-radius: 1.3vw;
    padding: 2vw;
}

.veiculoCard img {
    object-fit: contain;
    width: 250px;
    aspect-ratio: 1.7/1;
    border-radius: 8px;
}