@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    outline: 0;
}

body::-webkit-scrollbar {
    background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 50rem;
}