@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0;
    margin: 0;
    outline: 0;
    transition: .2s;
}
body {
    background: linear-gradient(to bottom, rgb(27, 27, 27), black);
    background-attachment: fixed;
    padding: 50px;
    height: 100vh;
    gap: 80px;
}
*::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 15px black;
    border-radius: 50rem;
}
*::-webkit-scrollbar {
    background: rgb(24, 24, 24);
}
.voltarBtn {
    position: fixed;
    
    color: white;
    font-size: clamp(16px, 2.5vw, 70px);
    top: 3vh;
    left: 3vw;
    z-index: 9999;
    transition: .15s;
    border-radius: 50rem;
}
.voltarBtn:hover {
    color: gray;
}
.voltarBtn:active {
    transform: translateX(-1vw);
}