body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 50px;
}
form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 40px;
}
form div {
    display: flex;
    align-items: center;
    position: relative;

    background: gray;
    width: 100%;
}
form label {
    position: absolute;
}
form input {
    width: 100%;
}
form button {
    background: black;
    border: none;
}
.boxFlagPreview {
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxFlagPreview img {
    object-fit: contain;
    width: 100%;
    aspect-ratio: 1/1;
}
form, .boxFlagPreview {
    background: white;
    width: 30vw;
    aspect-ratio: 1/1;
}